.start-screen {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    max-width: 100%;
    margin: 0;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        height: 150;
    }
}

h1 {
    font-size: 80px;
    border: 5px solid #FE5D01;
    border-radius: 50%;
    padding: 150px;
    box-shadow: 0px 1px 20px 20px red;
}
.fire {
    color: #ff3f17;
}

.img-left {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 150px;
}

.img-right {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 150px;
}

.img-right-bottom {
    position: absolute;
    bottom: 10%;
    right: 10%;
    height: 150px;
}

.img-left-bottom {
    position: absolute;
    bottom: 10%;
    left: 10%;
    height: 150px;
}

.glightbox_video {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
        cursor: pointer;
    }
    }
  
  .outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410; 
     stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
  }
  
  .glightbox_video:hover .outer_circle {
  stroke-dashoffset:410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out;
    
  }
  
  .glightbox_video:hover 
  .inner-circle {
    fill: #BF2428;
    transition:fill .4s .3s ease-out;
  }
  
  .glightbox_video:hover
  .play{
      fill: white;
    transition:fill .4s .3s ease-out;
  }


 

  @media only screen and (max-width: 1050px) {

    h1 {
        padding: 100px;
    }

}

@media only screen and (max-width: 750px) {

    h1 {
        padding: 50px;
    }

}




  @media only screen and (max-width: 600px) {

    .glightbox_video {
        top: 80%;
    }

    h1 {
        font-size: 40px;
    }

    .img-left{
        top: 2%;
        left: 2%;
    }

    .img-right{
        top: 2%;
        right: 2%;
    }

    .img-right-bottom{
        bottom: 2%;
        right: 2%;
    }

    .img-left-bottom{
        bottom: 2%;
        left: 2%;
    }
  }


  @media only screen and (max-width: 400px) {

    img {
        
        height: 120px!important;
    }

}

