.player-container {
    height:50px;
    width: 180px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    background-color: silver;
    opacity: 0.9;
    border-radius: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    font-size: 20px;

    img {
        height: 50px;
    }
}

.player-active {
    background-color: #FFD740;
}

