.game-description {
    position: absolute;
    bottom: 15px;
    left: 25%;
    width: 50%;
    text-align: center;
    background-color: #593F3C;
    border-radius: 10px;
    color: white;
}

.bootstrap-alert {
    top: 100px;
    position: fixed;
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.show-alert {
    color: red !important;
  }



@media only screen and (max-width: 500px) {

   .game-description {
        
        left: 35%; 
    }

}


