<app-player class="player-container"    *ngFor="let player of game.players; let i =index;"  [name] = "player" [ngStyle]="{'top.px': 1 + (i * 120)}">
   
</app-player>

<div class="playboard">
    <div class="card-stack">
        <img [ngStyle] ="{'right.px': i * 5}"  *ngFor="let c of [1,2,3,4]; let i = index;" src="assets\img\card_cover.png">
        <img (click)="pickCard()" class="top-card" style="right: 25px" src="assets\img\card_cover.png">
        <img class="playedCard"   *ngFor="let card of game.playedCard" src="assets\img\{{ card }}.png">
        <img (click)="pickCard()" *ngIf="pickCardAnimation" [class.pick-card]="pickCardAnimation"  style="right: 25px" src="assets\img\{{ currentCard }}.png">
    </div>
</div>
<button class="add-button"  (click)="openDialog()" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon class="font-button">plus_one</mat-icon>
  </button>
